.Favorite
{
    font-size:50px;
color: red;
border-color:black; 
}

.NotFavorite
{
    font-size:50px;
   color:black; 
}

.isFavorite
{
    color: green;
}


.isHovering
{
      color:darkolivegreen;
}