<form [formGroup]="for">
	<label>Name:</label>
	<input type="text" name="Name" value=""  formControlName="Name"/><br/>

<div *ngIf="for.controls.Name.errors?.required">This is required</div>



	<label>Favorite:</label>
	<input type="radio" name="Favorite" value="true" formControlName="Favorite">
	<label>True</label>
	<input type="radio" name="Favorite" value="false"  formControlName="Favorite">
	<label>False</label>

	<br/>
	<label>Type</label>
	<select formControlName="Type">
	<option value="tv">Tv</option>
	<option value="manga">Manga</option>
</select>
	<br/>
	<input type="submit" name="submit" value="submit"/>
</form>